In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("ufo_fullset.csv")

In [3]:
df.columns

Index(['reportedTimestamp,"eventDate","eventTime","shape","duration","witnesses","weather","firstName","lastName","latitude","longitude","sighting","physicalEvidence","contact","researchOutcome"'], dtype='object')

In [4]:
#Cambiamos el nombre de las columnas y cambiamos los espacios por _
columnas_nuevas = {col :  col.capitalize().replace('"', "") for col in df.columns}
df.rename(columns = columnas_nuevas, inplace = True)

In [5]:
df

      Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome
0      1977-04-04T04:02:23.340Z,"1977-03-31","23:46",...
1      1982-11-22T02:06:32.019Z,"1982-11-15","22:04",...
2      1992-12-07T19:06:52.482Z,"1992-12-07","19:01",...
3      2011-02-24T21:06:34.898Z,"2011-02-21","20:56",...
4      1991-03-09T16:18:45.501Z,"1991-03-09","11:42",...
...                                                  ...
17995  2019-01-18T14:41:45.346Z,"2019-01-14","07:25",...
17996  2016-09-20T23:24:30.488Z,"2016-09-14","13:27",...
17997  1977-03-10T13:48:27.305Z,"1977-03-06","21:59",...
17998  1971-07-23T13:22:36.190Z,"1971-07-18","13:59",...
17999  2008-11-28T02:19:45.532Z,"2008-11-27","15:37",...

[18000 rows x 1 columns]

In [6]:
df.columns

Index(['Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome'], dtype='object')

In [7]:
df['Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome'] = df['Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome'].apply(lambda x: x.replace('"',"") if type (x) == str else str (x))

In [8]:
df

      Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome
0      1977-04-04T04:02:23.340Z,1977-03-31,23:46,circ...
1      1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk...
2      1992-12-07T19:06:52.482Z,1992-12-07,19:01,circ...
3      2011-02-24T21:06:34.898Z,2011-02-21,20:56,disk...
4      1991-03-09T16:18:45.501Z,1991-03-09,11:42,circ...
...                                                  ...
17995  2019-01-18T14:41:45.346Z,2019-01-14,07:25,squa...
17996  2016-09-20T23:24:30.488Z,2016-09-14,13:27,circ...
17997  1977-03-10T13:48:27.305Z,1977-03-06,21:59,circ...
17998  1971-07-23T13:22:36.190Z,1971-07-18,13:59,squa...
17999  2008-11-28T02:19:45.532Z,2008-11-27,15:37,circ...

[18000 rows x 1 columns]

In [13]:
df[['Reportedtimestamp','eventdate','eventtime','shape','duration','witnesses','weather','firstname','lastname','latitude','longitude','sighting','physicalevidence','contact','researchoutcome']] = df['Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome'].str.split(",",expand = True)
df.head(2)

,"Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome",Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome
0,"1977-04-04T04:02:23.340Z,1977-03-31,23:46,circ...",1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.3294444,-122.5788889,Y,N,N,explained
1,"1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk...",1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained

In [15]:
df.drop(["Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome"],axis =1, inplace=True)
df.head()

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.3294444,-122.5788889,Y,N,N,explained
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.9516667,-92.3338889,Y,N,N,explained
3,2011-02-24T21:06:34.898Z,2011-02-21,20:56,disk,13,1,partly cloudy,Clifton,Bechtelar,41.4969444,-71.3677778,Y,N,N,explained
4,1991-03-09T16:18:45.501Z,1991-03-09,11:42,circle,17,1,mostly cloudy,Jayda,Ebert,47.6063889,-122.3308333,Y,N,N,explained

In [16]:
df.to_csv("ufo_cleaned.csv")