In [2]:
#!pip install sidetable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sidetable
  Downloading sidetable-0.9.1-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.8/dist-packages (from sidetable) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0->sidetable) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0->sidetable) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.9.1

In [3]:
import pandas as pd
import numpy as np  
import sidetable as stb

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#Cargamos el dataset CUIDADO ESTA CON LA DIRECCION DE DRIVE
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/ADALAB/pair/ufo_fullset.csv')
df.head(3)

  reportedTimestamp,"eventDate","eventTime","shape","duration","witnesses","weather","firstName","lastName","latitude","longitude","sighting","physicalEvidence","contact","researchOutcome"
0  1977-04-04T04:02:23.340Z,"1977-03-31","23:46",...
1  1982-11-22T02:06:32.019Z,"1982-11-15","22:04",...
2  1992-12-07T19:06:52.482Z,"1992-12-07","19:01",...

In [6]:
df.columns

Index(['reportedTimestamp,"eventDate","eventTime","shape","duration","witnesses","weather","firstName","lastName","latitude","longitude","sighting","physicalEvidence","contact","researchOutcome"'], dtype='object')

In [7]:
#Eliminamos las comillas en los nombres de las columnas
columnas_nuevas = {col :  col.lower().replace('"', "") for col in df.columns}
df.rename(columns = columnas_nuevas, inplace = True)

In [8]:
df.head(3)

  reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome
0  1977-04-04T04:02:23.340Z,"1977-03-31","23:46",...
1  1982-11-22T02:06:32.019Z,"1982-11-15","22:04",...
2  1992-12-07T19:06:52.482Z,"1992-12-07","19:01",...

In [9]:
df.columns

Index(['reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome'], dtype='object')

In [10]:
#Eliminamos las comillas de todas las celdas.
df['reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome']=df['reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome'].apply(lambda x: x.replace('"',"") if type (x) == str else str (x))

In [11]:
#Separamos la Ãºnica columna que tenemos hasta ahora en varias columnas.
df[['reported_time_stamp','event_date','event_time','shape','duration','witnesses','weather','first_name','last_name','latitude','longitude','sighting','physical_evidence','contact','research_outcome']] = df['reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome'].str.split(",",expand = True)
df.head(2)

,"reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome",reported_time_stamp,event_date,event_time,shape,duration,witnesses,weather,first_name,last_name,latitude,longitude,sighting,physical_evidence,contact,research_outcome
0,"1977-04-04T04:02:23.340Z,1977-03-31,23:46,circ...",1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.3294444,-122.5788889,Y,N,N,explained
1,"1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk...",1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained

In [12]:
df[['reported_time_stamp_date','reported_time_stamp_time']] = df['reported_time_stamp'].str.split("T",expand = True)
df.head(3)

,"reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome",reported_time_stamp,event_date,event_time,shape,duration,witnesses,weather,first_name,last_name,latitude,longitude,sighting,physical_evidence,contact,research_outcome,reported_time_stamp_date,reported_time_stamp_time
0,"1977-04-04T04:02:23.340Z,1977-03-31,23:46,circ...",1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.3294444,-122.5788889,Y,N,N,explained,1977-04-04,04:02:23.340Z
1,"1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk...",1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained,1982-11-22,02:06:32.019Z
2,"1992-12-07T19:06:52.482Z,1992-12-07,19:01,circ...",1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.9516667,-92.3338889,Y,N,N,explained,1992-12-07,19:06:52.482Z

In [13]:
#Eliminamos las columna donde hemos hecho el split
df.drop(['reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome'],axis =1, inplace=True)
df.head()

,reported_time_stamp,event_date,event_time,shape,duration,witnesses,weather,first_name,last_name,latitude,longitude,sighting,physical_evidence,contact,research_outcome,reported_time_stamp_date,reported_time_stamp_time
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.3294444,-122.5788889,Y,N,N,explained,1977-04-04,04:02:23.340Z
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained,1982-11-22,02:06:32.019Z
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.9516667,-92.3338889,Y,N,N,explained,1992-12-07,19:06:52.482Z
3,2011-02-24T21:06:34.898Z,2011-02-21,20:56,disk,13,1,partly cloudy,Clifton,Bechtelar,41.4969444,-71.3677778,Y,N,N,explained,2011-02-24,21:06:34.898Z
4,1991-03-09T16:18:45.501Z,1991-03-09,11:42,circle,17,1,mostly cloudy,Jayda,Ebert,47.6063889,-122.3308333,Y,N,N,explained,1991-03-09,16:18:45.501Z

In [14]:
df[['event_time_hour','event_time_minutes']] = df['event_time'].str.split(":",expand = True)
df.head(3)

,reported_time_stamp,event_date,event_time,shape,duration,witnesses,weather,first_name,last_name,latitude,longitude,sighting,physical_evidence,contact,research_outcome,reported_time_stamp_date,reported_time_stamp_time,event_time_hour,event_time_minutes
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.3294444,-122.5788889,Y,N,N,explained,1977-04-04,04:02:23.340Z,23,46
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained,1982-11-22,02:06:32.019Z,22,04
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.9516667,-92.3338889,Y,N,N,explained,1992-12-07,19:06:52.482Z,19,01

In [15]:
df['name']=df['first_name'].str.cat(df['last_name'],sep=' ')
df.head(3)

,reported_time_stamp,event_date,event_time,shape,duration,witnesses,weather,first_name,last_name,latitude,longitude,sighting,physical_evidence,contact,research_outcome,reported_time_stamp_date,reported_time_stamp_time,event_time_hour,event_time_minutes,name
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.3294444,-122.5788889,Y,N,N,explained,1977-04-04,04:02:23.340Z,23,46,Ila Bashirian
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained,1982-11-22,02:06:32.019Z,22,04,Eriberto Runolfsson
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.9516667,-92.3338889,Y,N,N,explained,1992-12-07,19:06:52.482Z,19,01,Miller Watsica

In [16]:
df[['reported_time_stamp_time_hour','reported_time_stamp_time_min','reported_time_stamp_time_rest']] = df['reported_time_stamp_time'].str.split(":",expand = True)
df.head(3)

,reported_time_stamp,event_date,event_time,shape,duration,witnesses,weather,first_name,last_name,latitude,...,contact,research_outcome,reported_time_stamp_date,reported_time_stamp_time,event_time_hour,event_time_minutes,name,reported_time_stamp_time_hour,reported_time_stamp_time_min,reported_time_stamp_time_rest
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.3294444,...,N,explained,1977-04-04,04:02:23.340Z,23,46,Ila Bashirian,04,02,23.340Z
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,...,N,explained,1982-11-22,02:06:32.019Z,22,04,Eriberto Runolfsson,02,06,32.019Z
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.9516667,...,N,explained,1992-12-07,19:06:52.482Z,19,01,Miller Watsica,19,06,52.482Z

In [17]:
#Eliminamos las columnas que nos nos interesan ya.
df.drop(['reported_time_stamp','reported_time_stamp_time','event_time_minutes','reported_time_stamp_time_min','reported_time_stamp_time_rest'],axis =1, inplace=True)
df.head(3)

,event_date,event_time,shape,duration,witnesses,weather,first_name,last_name,latitude,longitude,sighting,physical_evidence,contact,research_outcome,reported_time_stamp_date,event_time_hour,name,reported_time_stamp_time_hour
0,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.3294444,-122.5788889,Y,N,N,explained,1977-04-04,23,Ila Bashirian,04
1,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained,1982-11-22,22,Eriberto Runolfsson,02
2,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.9516667,-92.3338889,Y,N,N,explained,1992-12-07,19,Miller Watsica,19

In [18]:
nuevo_orden=['reported_time_stamp_date','reported_time_stamp_time_hour','event_date','event_time','event_time_hour','shape','duration','witnesses',
                'weather','first_name','last_name','name','latitude','longitude','sighting','physical_evidence','contact','research_outcome']
df=df.reindex(columns=nuevo_orden)
df.head(3)

,reported_time_stamp_date,reported_time_stamp_time_hour,event_date,event_time,event_time_hour,shape,duration,witnesses,weather,first_name,last_name,name,latitude,longitude,sighting,physical_evidence,contact,research_outcome
0,1977-04-04,04,1977-03-31,23:46,23,circle,4,1,rain,Ila,Bashirian,Ila Bashirian,47.3294444,-122.5788889,Y,N,N,explained
1,1982-11-22,02,1982-11-15,22:04,22,disk,4,1,partly cloudy,Eriberto,Runolfsson,Eriberto Runolfsson,52.664913,-1.034894,Y,Y,N,explained
2,1992-12-07,19,1992-12-07,19:01,19,circle,49,1,clear,Miller,Watsica,Miller Watsica,38.9516667,-92.3338889,Y,N,N,explained

In [19]:
#Comprobamos los valores nulos.
df.stb.missing()

                               missing  total  percent
reported_time_stamp_date             0  18000      0.0
reported_time_stamp_time_hour        0  18000      0.0
contact                              0  18000      0.0
physical_evidence                    0  18000      0.0
sighting                             0  18000      0.0
longitude                            0  18000      0.0
latitude                             0  18000      0.0
name                                 0  18000      0.0
last_name                            0  18000      0.0
first_name                           0  18000      0.0
weather                              0  18000      0.0
witnesses                            0  18000      0.0
duration                             0  18000      0.0
shape                                0  18000      0.0
event_time_hour                      0  18000      0.0
event_time                           0  18000      0.0
event_date                           0  18000      0.0
research_outcome                     0  18000      0.0

In [20]:
#Comprobamos si alguna persona ha reportado mÃ¡s de una vez un UFO.
df['name'].value_counts()

Willow Daniel      3
Eulah Ullrich      2
Curtis Nolan       2
Taylor Dach        2
Akeem Heathcote    2
                  ..
Junior Hoppe       1
Ross Maggio        1
Lou Hermiston      1
Bessie Hermann     1
Lia Oberbrunner    1
Name: name, Length: 17881, dtype: int64

In [21]:
#Vemos que la columna sighting no es necesaria porque es Y es todas las filas.
df['sighting'].value_counts()

Y    18000
Name: sighting, dtype: int64

In [22]:
#Vemos que en esta columna tenemos el valor 'probable' y 'unexplained' que podrÃ­an ser lo mismo, ya que ambas indican la posible presencia de UFOs.
df['research_outcome'].value_counts()

explained      12822
unexplained     3308
probable        1870
Name: research_outcome, dtype: int64

In [23]:
#Vemos que no tenemos valores repetidos en nuestro dataframe.
df.duplicated().sum()

0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   reported_time_stamp_date       18000 non-null  object
 1   reported_time_stamp_time_hour  18000 non-null  object
 2   event_date                     18000 non-null  object
 3   event_time                     18000 non-null  object
 4   event_time_hour                18000 non-null  object
 5   shape                          18000 non-null  object
 6   duration                       18000 non-null  object
 7   witnesses                      18000 non-null  object
 8   weather                        18000 non-null  object
 9   first_name                     18000 non-null  object
 10  last_name                      18000 non-null  object
 11  name                           18000 non-null  object
 12  latitude                       18000 non-null  object
 13  longitude                      18000 non-null  object
 14  sighting                       18000 non-null  object
 15  physical_evidence              18000 non-null  object
 16  contact                        18000 non-null  object
 17  research_outcome               18000 non-null  object
dtypes: object(18)
memory usage: 2.5+ MB

In [55]:
df['reported_time_stamp_time_hour']=df['reported_time_stamp_time_hour'].astype(int)

In [57]:
df['event_time_hour']=df['event_time_hour'].astype(int)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   reported_time_stamp_date       18000 non-null  object
 1   reported_time_stamp_time_hour  18000 non-null  int64
 2   event_date                     18000 non-null  object
 3   event_time                     18000 non-null  object
 4   event_time_hour                18000 non-null  int64
 5   shape                          18000 non-null  object
 6   duration                       18000 non-null  object
 7   witnesses                      18000 non-null  object
 8   weather                        18000 non-null  object
 9   first_name                     18000 non-null  object
 10  last_name                      18000 non-null  object
 11  name                           18000 non-null  object
 12  latitude                       18000 non-null  object
 13  longitude                      18000 non-null  object
 14  sighting                       18000 non-null  object
 15  physical_evidence              18000 non-null  object
 16  contact                        18000 non-null  object
 17  research_outcome               18000 non-null  object
dtypes: int64(2), object(16)
memory usage: 2.5+ MB

In [28]:
df2=df.copy()

In [68]:
condiciones=[(df['reported_time_stamp_time_hour']>=22) & (df['reported_time_stamp_time_hour']<24),
             (df['reported_time_stamp_time_hour']>=0) & (df['reported_time_stamp_time_hour']<6),
             (df['reported_time_stamp_time_hour']>=6) & (df['reported_time_stamp_time_hour']<9),
             (df['reported_time_stamp_time_hour']>=9) & (df['reported_time_stamp_time_hour']<18),
             (df['reported_time_stamp_time_hour']>=18) & (df['reported_time_stamp_time_hour']<22)]
opciones=['night','night','sunrise','day','sunset']
df['reported_time_stamp_daytime']=np.select(condiciones,opciones)

In [69]:
df.head(3)

,reported_time_stamp_date,reported_time_stamp_time_hour,event_date,event_time,event_time_hour,shape,duration,witnesses,weather,first_name,last_name,name,latitude,longitude,sighting,physical_evidence,contact,research_outcome,reported_time_stamp_daytime
0,1977-04-04,4,1977-03-31,23:46,23,circle,4,1,rain,Ila,Bashirian,Ila Bashirian,47.3294444,-122.5788889,Y,N,N,explained,night
1,1982-11-22,2,1982-11-15,22:04,22,disk,4,1,partly cloudy,Eriberto,Runolfsson,Eriberto Runolfsson,52.664913,-1.034894,Y,Y,N,explained,night
2,1992-12-07,19,1992-12-07,19:01,19,circle,49,1,clear,Miller,Watsica,Miller Watsica,38.9516667,-92.3338889,Y,N,N,explained,sunset

In [70]:
condiciones2=[(df['event_time_hour']>=22) & (df['event_time_hour']<24),
             (df['event_time_hour']>=0) & (df['event_time_hour']<6),
             (df['event_time_hour']>=6) & (df['event_time_hour']<9),
             (df['event_time_hour']>=9) & (df['event_time_hour']<18),
             (df['event_time_hour']>=18) & (df['event_time_hour']<22)]
opciones2=['night','night','sunrise','day','sunset']
df['event_time_daytime']=np.select(condiciones2,opciones2)

In [71]:
nuevo_orden=['reported_time_stamp_date','reported_time_stamp_time_hour','reported_time_stamp_daytime','event_date','event_time','event_time_hour',
             'event_time_daytime','shape','duration','witnesses','weather','first_name','last_name','name','latitude','longitude','sighting',
             'physical_evidence','contact','research_outcome']
df=df.reindex(columns=nuevo_orden)
df.head(3)

,reported_time_stamp_date,reported_time_stamp_time_hour,reported_time_stamp_daytime,event_date,event_time,event_time_hour,event_time_daytime,shape,duration,witnesses,weather,first_name,last_name,name,latitude,longitude,sighting,physical_evidence,contact,research_outcome
0,1977-04-04,4,night,1977-03-31,23:46,23,night,circle,4,1,rain,Ila,Bashirian,Ila Bashirian,47.3294444,-122.5788889,Y,N,N,explained
1,1982-11-22,2,night,1982-11-15,22:04,22,night,disk,4,1,partly cloudy,Eriberto,Runolfsson,Eriberto Runolfsson,52.664913,-1.034894,Y,Y,N,explained
2,1992-12-07,19,sunset,1992-12-07,19:01,19,sunset,circle,49,1,clear,Miller,Watsica,Miller Watsica,38.9516667,-92.3338889,Y,N,N,explained

In [74]:
df.to_csv('/content/drive/My Drive/Colab Notebooks/ADALAB/pair/ufo_cleaned_colab.csv')