In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("ufo_cleaned.csv",index_col=0)

In [4]:
df1 = df.sample(2)
df1

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome
3257,1999-07-20T05:36:35.032Z,1999-07-16,08:31,triangle,1,2,partly cloudy,Victor,Gottlieb,34.197500,-119.176111,Y,N,N,explained
9546,1980-06-04T04:08:22.034Z,1980-06-03,22:19,disk,75,6,snow,Humberto,Boehm,4.890278,114.942222,Y,N,N,explained

In [164]:
from geopy.geocoders import Nominatim 
geolocator = Nominatim(user_agent="vanna")
location = geolocator.reverse("52.664913, -1.034894")
print(location.address)

Chestnut Farm, Beeby, Charnwood, Leicestershire, England, LE7 3BQ, United Kingdom

In [84]:
df2 = df.sample(2)
df2

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome,geom
6189,2014-08-17T06:41:12.263Z,2014-08-16,22:50,square,37,4,mostly cloudy,Gordon,McGlynn,34.019444,-118.490278,Y,N,N,unexplained,"(34.0194444, -118.4902778)"
2809,1994-09-14T00:26:25.946Z,1994-09-13,16:23,light,92,2,partly cloudy,Nelson,Dooley,37.747778,-84.294722,Y,N,N,explained,"(37.7477778, -84.2947222)"

In [167]:
def get_country(row):
    pos = str(row['latitude']) + ', ' + str(row['longitude'])
    locations = geolocator.reverse(pos)
    return locations.raw['address']['country']

In [89]:
from tqdm import tqdm

In [ ]:
df['country'] = df.progress_apply(lambda row: get_country(row), axis = 1)

In [9]:
df1['geom'] = df1.apply(lambda row: (str(row.latitude),str(row.longitude)),axis=1)

In [10]:
df1['address'] = df1.apply(lambda row: geolocator.reverse(row.geom).address,axis=1)

In [13]:
df1['country'] = df1.apply(lambda row: geolocator.reverse(row.geom).address.split(",")[-1].strip(),axis=1)

In [160]:
df_test = df.head()

In [161]:
df_test

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome,geom
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.329444,-122.578889,Y,N,N,explained,"(47.3294444, -122.5788889)"
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained,"(52.664913, -1.034894)"
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.951667,-92.333889,Y,N,N,explained,"(38.9516667, -92.3338889)"
3,2011-02-24T21:06:34.898Z,2011-02-21,20:56,disk,13,1,partly cloudy,Clifton,Bechtelar,41.496944,-71.367778,Y,N,N,explained,"(41.4969444, -71.3677778)"
4,1991-03-09T16:18:45.501Z,1991-03-09,11:42,circle,17,1,mostly cloudy,Jayda,Ebert,47.606389,-122.330833,Y,N,N,explained,"(47.6063889, -122.3308333)"

In [168]:
df_test['country'] = df_test.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 5/5 [00:02<00:00,  2.27it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/1628211755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['country'] = df_test.progress_apply(lambda row: get_country(row), axis = 1)

In [169]:
df_test

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome,geom,country
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.329444,-122.578889,Y,N,N,explained,"(47.3294444, -122.5788889)",United States
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained,"(52.664913, -1.034894)",United Kingdom
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.951667,-92.333889,Y,N,N,explained,"(38.9516667, -92.3338889)",United States
3,2011-02-24T21:06:34.898Z,2011-02-21,20:56,disk,13,1,partly cloudy,Clifton,Bechtelar,41.496944,-71.367778,Y,N,N,explained,"(41.4969444, -71.3677778)",United States
4,1991-03-09T16:18:45.501Z,1991-03-09,11:42,circle,17,1,mostly cloudy,Jayda,Ebert,47.606389,-122.330833,Y,N,N,explained,"(47.6063889, -122.3308333)",United States

In [115]:
df_1 = df.iloc[0:1000]
df_2 = df.iloc[1000:2000]
df_3 = df.iloc[2000:3000]
df_4 = df.iloc[3000:4000]
df_5 = df.iloc[4000:5000]
df_6 = df.iloc[5000:6000]
df_7 = df.iloc[6000:7000]
df_8 = df.iloc[7000:8000]
df_9 = df.iloc[8000:9000]
df_10 = df.iloc[9000:10000]
df_11 = df.iloc[10000:11000]
df_12 = df.iloc[11000:12000]
df_13 = df.iloc[12000:13000]
df_14= df.iloc[13000:14000]
df_15 = df.iloc[14000:15000]
df_16 = df.iloc[15000:16000]
df_17 = df.iloc[16000:17000]
df_18 = df.iloc[17000:18000]

In [102]:
import time

In [99]:
df_18['country'] = df_18.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [12:12<00:00,  1.36it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/3674880930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18['country'] = df_18.progress_apply(lambda row: get_country(row), axis = 1)

In [106]:
df_18.head(1)

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome,geom,country
17000,2001-07-07T08:43:23.264Z,2001-07-07,03:34,sphere,65,10,snow,Beryl,Ankunding,34.765833,-84.77,Y,N,N,probable,"(34.7658333, -84.77)",United States

In [112]:
time.sleep(1)

In [113]:
df_19 = df.iloc[0:100]

In [116]:
import time
time.sleep(2.4)

Printed immediately.
Printed after 2.4 seconds.

In [120]:
time.sleep(1)
df_18['country'] = df_18.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:31<00:00,  1.96it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/4149713052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18['country'] = df_18.progress_apply(lambda row: get_country(row), axis = 1)

In [121]:
time.sleep(1)
df_17['country'] = df_17.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:19<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/3778313860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_17['country'] = df_17.progress_apply(lambda row: get_country(row), axis = 1)

In [122]:
time.sleep(1)
df_16['country'] = df_16.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:20<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/2155869545.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_16['country'] = df_16.progress_apply(lambda row: get_country(row), axis = 1)

In [123]:
df_15['country'] = df_15.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:23<00:00,  1.99it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/249821811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_15['country'] = df_15.progress_apply(lambda row: get_country(row), axis = 1)

In [124]:
time.sleep(10)

In [125]:

df_14['country'] = df_14.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:21<00:00,  1.99it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/4186959070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_14['country'] = df_14.progress_apply(lambda row: get_country(row), axis = 1)

In [126]:
time.sleep(1)

In [127]:

df_13['country'] = df_13.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:19<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/3993640214.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['country'] = df_13.progress_apply(lambda row: get_country(row), axis = 1)

In [128]:
time.sleep(1)

In [129]:

df_12['country'] = df_12.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:20<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/1625210300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_12['country'] = df_12.progress_apply(lambda row: get_country(row), axis = 1)

In [130]:
time.sleep(1)

In [131]:

df_11['country'] = df_11.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:19<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/197185971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_11['country'] = df_11.progress_apply(lambda row: get_country(row), axis = 1)

In [132]:
time.sleep(1)

In [133]:

df_10['country'] = df_10.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:20<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/995376152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_10['country'] = df_10.progress_apply(lambda row: get_country(row), axis = 1)

In [134]:
time.sleep(10)

In [135]:

df_9['country'] = df_9.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:19<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/1449733056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_9['country'] = df_9.progress_apply(lambda row: get_country(row), axis = 1)

In [136]:
time.sleep(10)

In [138]:
time.sleep(1)
df_8['country'] = df_8.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [13:04<00:00,  1.27it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/3007890529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8['country'] = df_8.progress_apply(lambda row: get_country(row), axis = 1)

In [141]:
ufo_lista =[df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18]
df_ufo_concat_1 = pd.concat(ufo_lista, ignore_index=True)

In [145]:
df_ufo_concat_1.head()

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome,geom,country
0,1985-02-20T01:08:40.599Z,1985-02-17,12:10,circle,23,5,partly cloudy,Elisha,Herzog,43.743889,-85.297222,Y,Y,N,explained,"(43.7438889, -85.2972222)",United States
1,1981-08-09T01:45:24.768Z,1981-08-07,04:16,circle,92,5,clear,Emerson,Kohler,52.466667,-1.916667,Y,N,N,explained,"(52.466667, -1.916667)",United States
2,1978-04-27T08:54:31.003Z,1978-04-25,05:55,disk,19,5,snow,Ernestine,Funk,44.782500,-69.383889,Y,N,N,explained,"(44.7825, -69.3838889)",United States
3,1983-04-06T16:36:22.375Z,1983-04-03,11:27,triangle,24,5,fog,Wendy,Cummings,25.773889,-80.193889,Y,N,N,probable,"(25.7738889, -80.1938889)",United States
4,1995-01-20T01:01:36.700Z,1995-01-19,20:43,disk,89,5,fog,Cheyanne,Gorczany,37.775000,-122.418333,Y,N,N,explained,"(37.775, -122.4183333)",United States

In [146]:
df_ufo_concat_1.to_csv("UFO_concat_1")

In [147]:
time.sleep(1)
df_7['country'] = df_7.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:26<00:00,  1.98it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/2487671719.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_7['country'] = df_7.progress_apply(lambda row: get_country(row), axis = 1)

In [148]:
time.sleep(1)
df_6['country'] = df_6.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:19<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/1548996053.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_6['country'] = df_6.progress_apply(lambda row: get_country(row), axis = 1)

In [149]:
time.sleep(1)
df_5['country'] = df_5.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:21<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/3232667081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['country'] = df_5.progress_apply(lambda row: get_country(row), axis = 1)

In [150]:
time.sleep(1)
df_4['country'] = df_4.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:21<00:00,  1.99it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/1249446618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['country'] = df_4.progress_apply(lambda row: get_country(row), axis = 1)

In [151]:
time.sleep(1)
df_3['country'] = df_3.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:31<00:00,  1.95it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/1100513032.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['country'] = df_3.progress_apply(lambda row: get_country(row), axis = 1)

In [152]:
time.sleep(1)
df_2['country'] = df_2.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:23<00:00,  1.99it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/3410886289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['country'] = df_2.progress_apply(lambda row: get_country(row), axis = 1)

In [153]:
time.sleep(1)
df_1['country'] = df_1.progress_apply(lambda row: get_country(row), axis = 1)

100%|██████████| 1000/1000 [08:19<00:00,  2.00it/s]
/var/folders/66/3gn2x5sj3tlfxjp4wp1zg9n00000gn/T/ipykernel_17609/1294625598.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['country'] = df_1.progress_apply(lambda row: get_country(row), axis = 1)

In [154]:
ufo_lista =[df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18]
df_ufo_concat_1 = pd.concat(ufo_lista, ignore_index=True)

In [156]:
df_ufo_concat_1.to_csv("UFO_concat.csv")

In [158]:
df_20 = pd.read_csv("UFO_concat.csv",index_col=0)
df_20

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome,geom,country
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.329444,-122.578889,Y,N,N,explained,"('47.3294444', '-122.5788889')",United States
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained,"('52.664913', '-1.034894')",United States
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.951667,-92.333889,Y,N,N,explained,"('38.9516667', '-92.3338889')",United States
3,2011-02-24T21:06:34.898Z,2011-02-21,20:56,disk,13,1,partly cloudy,Clifton,Bechtelar,41.496944,-71.367778,Y,N,N,explained,"('41.4969444', '-71.3677778')",United States
4,1991-03-09T16:18:45.501Z,1991-03-09,11:42,circle,17,1,mostly cloudy,Jayda,Ebert,47.606389,-122.330833,Y,N,N,explained,"('47.6063889', '-122.3308333')",United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2019-01-18T14:41:45.346Z,2019-01-14,07:25,square,95,10,snow,Taryn,Osinski,42.033333,-87.733333,Y,N,N,unexplained,"('42.0333333', '-87.7333333')",United States
17996,2016-09-20T23:24:30.488Z,2016-09-14,13:27,circle,55,10,stormy,Derick,Pouros,43.004444,-71.348889,Y,N,N,explained,"('43.0044444', '-71.3488889')",United States
17997,1977-03-10T13:48:27.305Z,1977-03-06,21:59,circle,39,10,partly cloudy,Judah,Purdy,36.866389,-83.888889,Y,N,N,explained,"('36.8663889', '-83.8888889')",United States
17998,1971-07-23T13:22:36.190Z,1971-07-18,13:59,square,28,10,snow,Imelda,Botsford,35.385833,-94.398333,Y,N,N,unexplained,"('35.3858333', '-94.3983333')",United States
17999,2008-11-28T02:19:45.532Z,2008-11-27,15:37,circle,38,10,snow,Lia,Oberbrunner,29.883056,-97.941111,Y,N,N,explained,"('29.8830556', '-97.9411111')",United States

In [159]:
df_20["country"].unique()

array(['United States'], dtype=object)