In [1]:
import pandas as pd
import numpy as np

In [2]:
df_country = pd.read_csv("ufo_concat_country.csv",index_col=0)

In [25]:
df_country.head(2)

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,latitude,longitude,sighting,physicalevidence,contact,researchoutcome,country
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.329444,-122.578889,Y,N,N,explained,United States
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained,United Kingdom

In [11]:
df_city = pd.read_csv("sonia_df_ufo_city.csv",index_col=0)

In [24]:
df_city.head(2)

   event_date   latitude   longitude        city
0  1977-03-31  47.329444 -122.578889  Gig Harbor
1  1982-11-15  52.664913   -1.034894   Charnwood

In [14]:
lista_pais = [df_country,df_city]

In [15]:
df_ufo_concat = pd.concat(lista_pais, axis=1)

In [20]:
df_ufo_concat.columns

Index(['Reportedtimestamp', 'eventdate', 'eventtime', 'shape', 'duration',
       'witnesses', 'weather', 'firstname', 'lastname', 'latitude',
       'longitude', 'sighting', 'physicalevidence', 'contact',
       'researchoutcome', 'country', 'event_date', 'latitude', 'longitude',
       'city'],
      dtype='object')

In [23]:
df_ufo_concat.drop(['event_date', 'latitude', 'longitude'], axis=1, inplace=True )
df_ufo_concat.head()

,Reportedtimestamp,eventdate,eventtime,shape,duration,witnesses,weather,firstname,lastname,sighting,physicalevidence,contact,researchoutcome,country,city
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,Y,N,N,explained,United States,Gig Harbor
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,Y,Y,N,explained,United Kingdom,Charnwood
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,Y,N,N,explained,United States,Columbia
3,2011-02-24T21:06:34.898Z,2011-02-21,20:56,disk,13,1,partly cloudy,Clifton,Bechtelar,Y,N,N,explained,United States,Jamestown
4,1991-03-09T16:18:45.501Z,1991-03-09,11:42,circle,17,1,mostly cloudy,Jayda,Ebert,Y,N,N,explained,United States,Seattle

In [27]:
df_ufo_concat.to_csv("ufo_concat_final.csv")